absl-py==2.1.0
annotated-types==0.7.0
astunparse==1.6.3
attrs==24.2.0
Automat==24.8.1
beautifulsoup4==4.12.3
blinker==1.8.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
constantly==23.10.4
contourpy==1.1.1
cryptography==43.0.1
cssselect==1.2.0
cycler==0.12.1
decorator==4.4.2
deepface==0.0.93
defusedxml==0.7.1
facenet-pytorch==2.6.0
fer==22.5.1
ffmpeg==1.4
filelock==3.16.0
fire==0.6.0
Flask==3.0.3
Flask-Cors==5.0.0
flatbuffers==24.3.25
fonttools==4.53.1
fsspec==2024.9.0
gdown==5.2.0
google-pasta==0.2.0
grpcio==1.66.1
gunicorn==23.0.0
h5py==3.11.0
humanfriendly==10.0
hyperlink==21.0.0
idna==3.8
imageio==2.35.1
imageio-ffmpeg==0.5.1
imgviz==1.7.6
incremental==24.7.2
itemadapter==0.9.0
itemloaders==1.3.1
itsdangerous==2.2.0
jax==0.4.31
jaxlib==0.4.31
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
kiwisolver==1.4.5
labelme==5.8.1
lazy_loader==0.4
libclang==18.1.1
loguru==0.7.3
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.3
mdurl==0.1.2
mediapipe==0.10.14
ml-dtypes==0.2.0
moviepy==1.0.3
mpmath==1.3.0
mtcnn==0.1.1
namex==0.0.8
natsort==8.4.0
networkx==3.3
numpy==1.24.3
onnxruntime==1.21.0
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opt-einsum==3.3.0
optree==0.12.1
osam==0.2.3
packaging==24.1
pandas==2.1.3
parsel==1.9.1
pillow==10.2.0
proglog==0.1.10
Protego==0.3.1
protobuf==4.25.4
psutil==7.0.0
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycocotools==2.0.8
pycparser==2.22
pydantic==2.11.1
pydantic_core==2.33.0
PyDispatcher==2.0.7
pygame==2.6.1
Pygments==2.18.0
pyOpenSSL==24.2.1
pyparsing==3.1.4
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pyreadline3==3.5.4
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
queuelib==1.7.0
requests==2.32.3
requests-file==2.1.0
retina-face==0.0.17
rich==13.8.1
scikit-image==0.20.0
scikit-learn==1.3.2
scipy==1.10.1
Scrapy==2.11.2
seaborn==0.13.2
service-identity==24.1.0
setuptools==74.1.2
six==1.16.0
sounddevice==0.5.0
soupsieve==2.6
sympy==1.13.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-hub==0.16.1
termcolor==2.4.0
threadpoolctl==3.5.0
tifffile==2023.7.10
tldextract==5.1.2
torch==2.2.2
torchvision==0.17.2
tqdm==4.66.5
Twisted==24.7.0
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2024.1
ultralytics==8.3.98
ultralytics-thop==2.0.14
urllib3==2.2.3
w3lib==2.2.1
Werkzeug==3.0.4
wheel==0.44.0
win32_setctime==1.2.0
wrapt==1.16.0
zope.interface==7.0.3
