absl-py
annotated-types
attrs
beautifulsoup4
blinker
cffi
charset-normalizer
click
colorama
cryptography
cycler
decorator
deepface
facenet-pytorch
fer
ffmpeg
filelock
fire
Flask
Flask-Cors
flatbuffers
fonttools
fsspec
gdown
grpcio
gunicorn
h5py
humanfriendly
idna
imageio
imageio-ffmpeg
imgviz
joblib
kiwisolver
labelme
lazy_loader
libclang
loguru
lxml
Markdown
MarkupSafe
matplotlib
mediapipe
ml-dtypes
moviepy
mpmath
mtcnn
natsort
networkx
numpy
onnxruntime
opencv-contrib-python
opt-einsum
osam
packaging
pandas
parsel
pillow
proglog
protobuf
psutil
py-cpuinfo
pycocotools
pycparser
pydantic
pygame
Pygments
pyOpenSSL
pyparsing
PyQt5
PyQt5-Qt5
PyQt5_sip
python-dateutil
pytz
PyYAML
queuelib
requests
requests-file
retina-face
rich
scikit-image
scikit-learn
scipy
Scrapy
seaborn
setuptools
six
soupsieve
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-hub
termcolor
threadpoolctl
tifffile
tldextract
torch
torchvision
tqdm
typing-extensions
tzdata
ultralytics
ultralytics-thop
urllib3
w3lib
Werkzeug
wrapt
